

<!DOCTYPE html>
<html>
<head>
<title>{{ trip.name }}</title>
</head>
<body>
<h1>{{ trip.name }}</h1>
<p>Start date: {{ trip.start_date }}</p>
<p>End date: {{ trip.end_date }}</p>
<h2>Destinations</h2>
<ul>
{% for destination in destinations %}
<li>{{ destination.name }}</li>
{% endfor %}
</ul>
<h2>Expenses</h2>
<ul>
{% for expense in expenses %}
<li>{{ expense.name }}: {{ expense.amount }}</li>
{% endfor %}
</ul>
<h2>Shared users</h2>
<ul>
{% for shared_user in shared_users %}
<li>{{ shared_user.name }}</li>
{% endfor %}
</ul>
<a href="{{ url_for('edit_trip', trip_id=trip.id) }}">Edit trip</a>
<a href="{{ url_for('delete_trip', trip_id=trip.id) }}">Delete trip</a>
</body>
</html>


